<div class="main-container">
  <app-header></app-header>

  <div class="main-body">
    <div class="intro">
      <div class="image-container">
        <img class="about-gina" alt="Image of Gina Espinosa" ngSrc="assets/gina-about.png" width="400" height="400">
      </div>
      <div class="image-description">
        <h1>About</h1>
        <h2>I'm a computer engineer based in </h2>
        <h2>Cebu, Philippines.</h2>
        <p>I aspire to become a software engineer.
          I spend most of my time refining my skills in software development
          through exploring into technologies and
          breaking down problems to create intuitive and useful solutions.
          When I'm not pushing to Git, you'll find me gardening at <a href="https://palia.com/">Palia</a>, recreating recipes from TikTok,
          dancing to zumbas, or racking my brains for new ideas to write. </p>
      </div>
    </div>
    <div class="writer-developer"></div>
    <div class="random-facts"></div>
    <div class="skills"></div> <!-- in chart : Web Dev, Figma, Coffee-Drinking -->
    <div class="writing"></div>
    <div class="my-story"></div>
  </div>

  <app-footer></app-footer>
</div>
