
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
}

.navbar-links {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 40px;
}

.brandLogo {
  padding-top: 15px;
}
