<header class="header">
  <nav class="navbar">
    <div class="brandLogo">
      <a routerLink="home"><img class="logo" alt="gina brand with icon" ngSrc="assets/gina-high-resolution-logo-white-transparent%20(1).png" width="100" height="50"></a>
    </div>
    <div class="navbar-links-div">
      <ul class="navbar-links">
        <li><a>Blog</a></li>
        <li><a>Projects</a></li>
        <li><a>About</a></li>
        <li><a>Contact</a></li>
        <li><a>Photos</a></li>
      </ul>
      <div class="navbar-toggle">
        <span></span>
      </div>
    </div>
  </nav>
</header>
