<footer class="footer">
  <div class="footer-copyright">
    <a href="#"><img class="footer-logo" alt="gina brand with icon" ngSrc="assets/gina-high-resolution-logo-white-transparent%20(1).png" width="50" height="25"></a>
    <p>&copy;2024 Gina Espinosa</p>
  </div>
  <div class="footer-socials">
    <a class="social-icon" href="mailto:ginaespinosa117@gmail.com"><i class="fa-solid fa-envelope"></i></a>
    <a class="social-icon" href="https://www.linkedin.com/in/gina-espinosa-8b50a1259/"><i class="fa-brands fa-linkedin-in"></i></a>
    <a class="social-icon" href="https://www.facebook.com/gina.espinosa.35977/"><i class="fa-brands fa-facebook"></i></a>
    <a class="social-icon" href="https://www.instagram.com/maven__x/"><i class="fa-brands fa-instagram"></i></a>
    <a class="social-icon" href="https://github.com/maven-00"><i class="fa-brands fa-github"></i></a>
  </div>
</footer>
