<div class="main-container">
  <app-header></app-header>

  <div class="main-body">
    <div class="home-top">
      <div class="name-container">
        <h1>This is Gina</h1>
        <p>Building Tomorrow,</p>
        <p>One Line at a Time.</p>
        <div class="get-in-touch">
          <p>Get in Touch: </p>
          <form id="email-contact">
            <input type="email" id="email" name="email" placeholder="Your email address">
            <button>Send</button>
          </form>
          <div class="contact-icons">
            <a class="social-icon" href="https://www.linkedin.com/in/gina-espinosa-8b50a1259/"><i class="fa-brands fa-linkedin-in"></i></a>
            <a class="social-icon" href="https://github.com/maven-00"><i class="fa-brands fa-github"></i></a>
          </div>
        </div>
      </div>
      <div class="image-container">
        <img class="main-image" alt="girl programmer" ngSrc="assets/girl-programmer.png" width="500" height="500">
      </div>
    </div>
  </div>

  <app-footer></app-footer>

</div>
